{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "impliedStrict": true
        }
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "require": true,
        "urls": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "quotes": ["error", "single"],
        "indent": ["error", 4],
        "semi": ["error", "always"],
        "no-console": "off",
        "no-debugger": "off"
    }
}
